body{
  font-family: impact;
  font-size: 18px;
  line-height: 1.5;
  
  /* margin: 0;
  padding: 0; */
}
*{
  box-sizing: border-box;
}
/* h1{
  margin: 0;
} */

header{
  background-image: url("../img/entrada.jpg");
  /* background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.3) 10%, rgb(255, 255, 255, 0) 20%), */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;  
  margin: 0px auto;
  /* position: relative;  */
  max-width: 100%;
  height: 615px;
  width: 1500vh;
}

img{
  max-width: 100%;
}
a{
  text-decoration: none;
  color: #baa1e9;
}

/* .clearfix::after{
  clear: both;
  content: '';
  display: table;
} */
/* .mt-15{
  margin-top: 15px;
} */
/* .mt-10{
  margin-top: 10px;
} */
/* .mt-15{
  margin-bottom: 15px;
} */
/* .mb-15{
  margin-bottom: 15px;
} */
/* .mb-30{
  margin-bottom: 30px;
} */
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-m{
  margin-left: auto;
  max-width: auto;
}
.center-d{
  display: block;
  margin: 0px auto;
}
.float-right{
  float: right;
}
.float-left{ 
  float: left;
}


/* .bg-01{
  background-color: #C3F4EF;
} */
/* .bg-02{
  background-color: #6a9c9c;
} */
/* .bg-03{
  background-color: #122727;
} */
/* .bg-black{
  background-color: #000;
} */
/* .bg-white{
  background-color: #fff;
} */
/* .text-danger{
  color: red;
} */
/* .d-block{
  display: block;
} */
/* .d-inline{
  display: inline;
} */
/* .text-danger{
  color: #ff0000;
}
.text-alert{
  color: #ffff00;
}
.text-center{
  text-align: center;
} */
/* .text-muted{
  color: #494747;
}*/
.border{
  border: green 2px solid;
}
.row{
  margin-right: -15px;
  margin-left: -15px;
}
.col-1, 
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-12{
  width: 100%;
}
.col-11{
  width: 91.666666%;
}
.col-10{
  width: 83.333333%;
}
.col-9{
  width: 75%;
}
.col-8{
  width: 66.666666%;
}
.col-7{
  width: 58.333333%;
}
.col-6{
  width: 50%;
}
.col-5{
  width: 41.666666%;
}
.col-4{
  width: 33.333333%;
}
.col-3{
  width: 25%;
}
.col-2{
  width: 16.666666%;
}
.col-1{
  width: 8.333333%;
}

.btn{
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  color: darkmagenta;
}

.btn-section{
  padding: 6px 15px;
  margin: 0px ;
  border-radius: 6px;
  text-transform: none;
  font-family: sans-serif;
  background: #3b7861;
  color: #F2F2F2;
  font-weight: 500;
  font-size: 13px;
}

.btn-terminos{ 
  margin: 60px 530px 35px; 
  display: inline-block;
  padding: 3px 20px;
  border-radius: 4px;
  border: 2px solid #0a6d6e;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  text-align: center; 
  width: auto;
}

.btn-bajar-menu{
  margin-top: 80px;
  width: 20%; 
  padding: 3px 20px;
  border-radius: 4px;
  border: 2px solid #0a6d6e;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  text-align: center; 
}

.container{
  width: 1200px;  
  position: relative;
  display: block;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  /* border: mediumblue 2px solid; */
}

.form-header{
  z-index: 650;
  padding: 20px 10px 20px 60px;
  background-color: rgb(0, 128, 128, 2);
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto; 
  width: 1100px;
  top: 547px;
  max-width: 100%;
}

.navbar{
  position: fixed;
  z-index: 700;
  margin: auto;
  width: 100%;
  background-color: rgb(181, 212, 210);
  height: 100px;
}
  .navbar-brand {
    margin: 0px;
    border-radius: 0px 0px 3px 3px;
    height: auto;
    width: 80%;
  }
  .navbar-brand img {
    width:200px;
    margin: 10px 0px 0px;
  }
  .navbar-menu{
    top: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-item{
    position: relative;
    float: left;
  }
  .menu-link{
    display: inline-block;
    padding: 10px 10px;
    margin: 30px 10px 50px 0px;
    text-decoration: none;
    /* color: rgb(213, 213, 213); */
    color: #5C7370;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .menu-link:hover{
    background-color:#374c4c;
    border: 1px solid #79F2E6;
    color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
  }

.form-header{
  z-index: 650;
  padding: 15px 10px 20px 10px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto; 
  width: 1000px;
  top: 551px;
  max-width: 100%;
  border-radius: 4px 4px 0px 0px;
  background-color: #143737;
}
.form-header input{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 20px 0px 5px;
}
.input{
  width: 25%;
}
.form-header select{
  margin: 0px 25px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.form-header label{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgb(213, 213, 213);
  ;
}
.btn-in{
  background-color: rgb(224, 224, 224);
  padding: 3px 15px;
  margin: 0px;
  border-radius: 3px;
}

.idioma{
  position:relative;
  top:20px;
  left: 20px;
  background-color: rgb(180, 205, 204, 0.3);
  padding: 5px 10px;
  border-radius: 3%;
  }
  .idioma:hover{
    border: 1px solid rgb(160, 160, 160);
    border-radius: 3%;
  }

.section{
  width: 100%;
  position: relative;
  float: left;
}
.section-titulo{
  margin:30px 0px 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

  .section-bienvenida{
    top: 0;
    margin: 20px 0px 40px;
  }
  .section-bienvenida img{
    width:50%;
    margin: 40px 40px;

  }
  .section-bienvenida h2{
    margin: 35px 0px 10px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .section-bienvenida p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 80%;
  }

  .section-hab{
    background-color: rgb(221, 221, 221);
    height: 450px;
  } 
  .section-hab h3{
    margin: 0px 0px 10px;
    font-family: Arial, sans-serif;
  }
  .section-hab p{
    margin: 0px 0px 15px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px;
  }
  
.iconos{
  margin: 0px 5px;
}

.section-promo{
  top: 0;
  padding: 30px 0px 30px;
}
.section-promo article{
  display: inline-block;
  margin-bottom: 10px;
}
  .section-promo article h3{
    margin: 0px 0px 10px;
    font-family: Arial, sans-serif;
  }
  .section-promo article img{
    float: right;
    width: 350px;
    display: block;
  }
  .section-promo article p{
    margin: 15px 0px 25px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px;
    width: 90%;
  }

  .opinion-clientes{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

    .section-serv{
      display: block;
      position: relative;
      height: 350px;
      margin: 0px 0px 0px;
    }
    .section-serv h5{
      font-family: Arial, Helvetica, sans-serif, sans-serif;
      font-size: 14px;
      position: absolute; 
      display: inline-block;
      margin: 10px 0px;
    }
    .section-serv img{
      margin: 10px 20px 0px;
    }

  .fondo{
    max-width: 100%;
    position: relative;
    display: inline-block;
  }

  .btn-especial{
    background-color: rgb(65, 135, 148);
    margin: 0px 20px 0px;
  }
    .bg-restaurante{
      background: #d6d6d6 url("../img/f3.jpg") no-repeat center center; 
      background-size: cover;
      height: 400px;
    }
    
    .caja-restaurante{      
      margin: 50px 0px 20px 25px;
      text-align: right; 
      width: 50%;
      height: 286px ;
      float: right;
      background-color: rgb(255, 255, 255, .9);
    }
    .caja-restaurante h3{
      margin: 50px 20px 0px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .caja-restaurante p{
      margin: 20px 20px 20px;
      /* border: green 2px solid; */
      margin-left: 25px;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .bg-piscina{
      background: #d6d6d6 url("../img/pool--v11426801.jpg") no-repeat center center; 
      background-size: cover;
      width: 100%;
      height: 400px;
    }
    .caja-piscina{      
      margin: 50px 10px 20px 0px;
      width: 50%;
      background-color: rgb(255, 255, 255, .9);
      height: 286px;
    }
    .caja-piscina h3{
      margin: 50px 20px 20px 25px;
      font-family: Arial, Helvetica, sans-serif;
      display: inline-block;
    }
    .caja-piscina p{
      margin: 0px 20px 20px;
      margin-left: 25px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
    }

.footer{
  background-color: #0D7369;
}
  .mapa{
    width: 100%;
    height: 350px;
    margin: 40px 0px;
  }
  .form{
    position: absolute;
    display: inline-block;
    margin: 20px 0px 0px 0px;
    top: 0;
    height: 300px;
  }
    .form img{
      margin: 20px 0px 0px 70px;
      display: inline-block;
    }
    .form p{
      margin: 30px 20px;
      display: inline-block;
      width: 250px;
      font-family: Arial, Helvetica, sans-serif;
      height: auto;
      color: #ffffff;
    }
    .form a{
      margin: 0px 30px;
      display: inline-block;
    }
    .form form{
      margin: 5px 0px 0px 155px;
      display: inline-block;
      padding: 0px 0px 0px;
    }
    .form form input{
      margin: 10px 0px 0px 0px;
      padding: 5px 0px 7px 10px;
      display: block;
      float: right;
      width: 100%; 
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 17px;
    }
    .form form textarea{
      font-family: sans-serif;
      font-weight: 500;
      float: right;
      width: auto;
      margin: 10px 0px 0px 0px;
      height: 150px;
    }

    .contacto{
      margin: 10px 0px 0px 0px;
      padding: 5px 0px 0px 0px;
      display: inline-block;
      width: 100%;
      }
    .contacto a{
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      margin: 0px 15px;
      font-size: 17px;
      padding: 0px 15px 20px;
    }

.subfooter{
  font-family: sans-serif;
  background-color: #0D7369;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
}

.titulo-modal{
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-hab{
  font-family: sans-serif;
  width: 80%;
  display: inline-block;
  padding: 10px 15px 50px;
}
.modal-hab img{
  width: 30%;
  margin: 0px 10px 0px 15px;
}
.modal-hab p{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 30px;
  text-align: justify;
}
.modal-hab ul li{
  margin: 5px 0px ;
}
.modal-hab h4{
  font-size: 25px;
  text-align: center;
}
.modal-hab h5{
  font-size: 18px;
  margin: 25px 30px 0px;
  display: inline-block;
  position: relative;
  font-weight: 600;
}
.modal-hab h6{
  font-size: 17px;
  font-weight: 600;
  display: block;
  position: relative;
  margin: 18px 80px 0px;
}

.modal-restaurante{
  width: 80%;
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  padding: 10px 0px 50px;
}
.modal-restaurante img{
  width: 80%;
  margin: 30px 0px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-restaurante p{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 10px 10px;
}
.modal-restaurante h4{
  font-size: 17px;
  position: relative;
  margin: 10px 10px 10px;
}
.modal-restaurante h5{
  font-size: 16px;
  margin: 5px 25px 5px;
  display: inline-block;
  position: relative;
  font-weight: 400;
}


.modal-piscina{
  top: 0;
  display: inline-block;
  position: relative;
  width: 80%;
}
.modal-piscina img{
  width: 30%;
  margin: 10px 10px 60px 10px;
}


.modal-terminos{
  display: inline-block;
  font-family: sans-serif;
  width: 80%;
}
.modal-terminos p{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 30px;
}
.modal-terminos ul li{
  margin: 5px 0px ;
  list-style: none;
}
.modal-terminos h5{
  font-size: 18px;
  margin: 15px 30px 0px;
  font-weight: 600;
}